[submodule "resources/include/ProbModelSEED"]
	path = resources/include/ProbModelSEED
	url = https://github.com/ModelSEED/ProbModelSEED.git
[submodule "resources/include/KBaseClient"]
	path = include/KBaseClient
	url = https://github.com/ModelSEED/KBaseClient.git
[submodule "resources/include/Workspace"]
	path = resources/include/Workspace
	url = https://github.com/PATRIC3/Workspace.git
